
#choosesize{
    clear:both;
    height:200px;
	width:500px;
	font-size:80px;
    margin:auto;
}

#board{
    background: #ff9900;
    overflow: hidden;
    padding:20px 20px;
    padding-bottom:0px;
    width:500px;
    /*height:500px;*/
}

#wrapper{
    background: #ff9900;
    width:540px;
    margin:30px;
}

.chesscol{
    padding:0;
    margin:0;
   float:left;

}

.grid{
   height:25px;
   width:25px;
   margin:0;
   background-size:contain ;
    text-align: center;
   line-height:26px;
   font-size:10px;
}

.grid:hover{
    cursor:default;
}

.cordtop{
    height:12px;
    width:25px;
    margin:0;
    padding-top:10px;
    text-align: center;
    line-height:12px;
    font-size:10px;
}

.cordleft{
    height:25px;
    width:12px;
    margin:0;
    padding-left:10px;
    text-align: center;
    line-height:20px;
    font-size:10px;
}

#tool{
    clear:both;
    height:48px;
    margin:auto;

}

#tool ul {
    margin-top:0;
    padding:0;
    padding-bottom:20px;
}

#panel_nav{
    float:left;
    margin-left: 20px;
}

#tool ul li{
    color:#444;
    list-style: none;
    display: inline;

}

#tool ul li i{
    font-size:28px;
    vertical-align: middle;
}

#tool ul li input{
    height:16px;
    line-height:16px;
    vertical-align: middle;
    width:24px;
}

#btn_search{
    font-size:24px !important;
    margin-left:2px;
}

#searchstep{
    text-align: center;
}

.iconfont:hover{
    text-decoration:underline;
}

.iconfont:active {
    background-color:#FF704D;
}

/*棋子图片预加载*/	
body:after {
    content: "";
    display: block;
    position: absolute;
    background: 
	url("../assets/grid_lt_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_lb_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_rt_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_rb_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_l_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_r_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_t_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_b_b.gif") no-repeat -10000px -1000px,
	url("../assets/grid_black.gif") no-repeat -10000px -1000px,
	url("../assets/grid_lt_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_lb_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_rt_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_rb_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_l_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_r_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_t_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_b_w.gif") no-repeat -10000px -1000px,
	url("../assets/grid_white.gif") no-repeat -10000px -1000px
    width: 0;
    height: 0
}